DB_URL=jdbc:sqlserver://localhost:1433;databaseName=SMMS;encrypt=false
DB_USERNAME=sa
DB_PASSWORD=your_local_database_password

JWT_SECRET=replace_with_a_long_local_jwt_secret

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

VNPAY_TMN_CODE=your_vnpay_tmn_code
VNPAY_HASH_SECRET=your_vnpay_hash_secret
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://127.0.0.1:5173/payment/vnpay-return
VNPAY_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
VNPAY_VERSION=2.1.0
VNPAY_COMMAND=pay
VNPAY_ORDER_TYPE=other
